{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block extrahead %}
	
{% endblock extrahead %}
{% block extrastatic %}
	
{% endblock extrastatic %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<meta charset="UTF-8">
	<title> {% block tietle %}
		Main de base
	{% endblock tietle %} </title>
</head>
<body>
{% block header %}
	<h2>Bloque base</h2>
{% endblock header %}


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src={% static "js/bootstrap.min.js" %}></script>
{% block content %}
<h4>Es el contenidodel archivo base</h4>
	
{% endblock content %}



{% block extrajs %}
	
{% endblock extrajs %}
	
</body>
</html>