{% extends 'base.html' %}
{% block header %}
	<h3>Direcciones</h3>
{% endblock header %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>nombre</td>
			<td>calle y numero</td>
			<td>Numero exterior</td>
			<td>Numero interior</td>
		
		</tr>
		
	</thead>
	<tbody>
	{% if object_list %}
	{% for direccion in object_list %}
	<tr>
		<td>{{direccion.slug}}</td>
		<td>{{direccion.calle}}</td>
		<td>{{direccion.numero_exterior}}</td>
		<td>{{direccion.numero_interior}}</td>

		<td>
			<a class="btn btn-primary" href="{% url 'direcciones:direccion_editar' direccion.id%}">Editar</a>
			<a class="btn btn-danger" href="{% url 'direcciones:direccion_eliminar' direccion.id%}">Eliminar</a>
		</td>
	</tr> 
		
	{% endfor %}
		{% else %}
		<h3>No hay direcciones</h3>
	{% endif %}
	
	</tbody>
</table>	
<ul class="pager">
	<li>
	{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
	</li>
</ul>
	{% endblock content %}